<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.twitter %}
    <div class="call-email"><strong>Twitter: </strong>
      <a href="https://www.twitter.com/zklosko">
        {{ site.data.contact.twitter }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.call_button_link }}" class="button">{{ site.data.contact.call_button_text }}</a>
      </div>
    {% endif %}
</div>
