---
import AboutHeroImage from "../assets/christmasEve2023-10.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Zack is building really cool things"
  pubDate={new Date("May 31 2026")}
  heroImage={AboutHeroImage}
>
  <p>Zachary Klosko is a Richmond-based audio engineer and event producer.</p>
  <p>
    He currently works at Hope Church in Richmond, VA's West End, training and
    leading teams of production volunteers for Sunday morning and student
    services. He graduated from Virginia Commonwealth University with a degree
    in Digital Journalism, only to find his calling behind the wires, not behind
    the podium.
  </p>

  <p>
    He got his first Washington Post article published in October of 2020 about
    Del. Elizabeth Guzman’s, D-Woodbridge, efforts to secure paid leave for
    those needing to quarantine due to the Coronavirus. The same story was
    published by the <a
      href="https://apnews.com/article/virus-outbreak-woodbridge-united-states-minimum-wage-virginia-cdcf940aa64cb0f81824b11b739f5085"
      >Associated Press</a
    >
    and Virginia Public Media; follow-up stories were published in various outlets
    throughout Virginia.
  </p>

  <p>
    He has spent ample time redesigning production workflows for local
    non-profits. He led the efforts to prepare WRIR for remote playback during
    the COVID-19 pandemic, allowing the station to stay operational after a
    volunteer contracted the disease, a groundbreaking achievement for a station
    used to having volunteers in studio 21 hours of every day. He also added
    Bitfocus Companion to Hope Church's production workflow, simplifying tasks
    for volunteers during church services. He built and maintains multiple
    modules for Bitfocus Companion, including ones for ETC's Echo system, Allen
    & Heath's AHM, and Obsidian Systems' Onyx lighting software.
  </p>

  <p>
    Outside of the A/V world, he likes baking bread from scratch, biking through
    the city, and blasting disco house in the shower. If you want to buy him a
    coffee, he likes dark roasts and vanilla lattes.
  </p>
</Layout>
