---
layout: default
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h3 class="content">{{ page.category | upcase }}</h3>
        <img src="{{page.img}}" class="thumbs">
        <blockquote>
        	<p><small>{{page.caption | markdownify}}</small></p>
        </blockquote>
        <h1 class="title">{{page.title}}</h1>
        <h5 class="content">by Zachary Klosko</h5
        <br>
        <br>
        <div class="content">{{content}}</div>
        <hr>
        {% include share-bar.html %}
      </div>
    </div>
  </div>
</div>